.body{
    width: 100%;
    height: 800px; 
    text-align: center;
    border: 5px solid green;
    display: flex; 
    padding-left: 11%;
}

.posts{
    border: 5px solid orange;
    height: 800px;
    width: 50%;
}

.right_panel{
    width: 26%;
}

.real_time_searching_word{
    border: 5px solid darkmagenta;
    height: 380px;
    width: 100%;
}